events {
    worker_connections  1024;
}

http {
    upstream myapp {
        server {{ minikube_ip.stdout }}:{{ node_port }};
    }

    server {
        listen 8080;

        location / {
            proxy_pass http://myapp;
        }
    }
}
